<div class="card" *ngFor="let rule of rules">
    <p class="rule-title">{{rule.name.toUpperCase()}}</p>
    <p>
        <span class="rule-properties">
            <span class="bold">Service: </span> {{rule.service}}
        </span> 

        <span class="rule-properties">
            <span class="bold">Severity: </span> <span class="critical">{{rule.severity}}</span> 
        </span> 

        <span class="rule-properties">
            <span class="bold">Description: </span> More than {{rule.limit}} wrong measurements in {{rule.timePeriod}} {{rule.timeUnit}}
        </span>
    </p>
    <div class="rule-modifiers">
        <button class="rule-btn edit">EDIT</button>
        <button class="rule-btn delete">DELETE</button>
    </div>
</div>
