<div class="card">
    <p class="rule-title">RULE #1</p>
    <p>
        <span class="rule-properties">
            <span class="bold">Service: </span> File service
        </span> 

        <span class="rule-properties">
            <span class="bold">Severity: </span> <span class="critical">CRITICAL</span> 
        </span> 

        <span class="rule-properties">
            <span class="bold">Description: </span> More than 5 unprocessed files in one minute!
        </span>
    </p>
    <div class="rule-modifiers">
        <button class="rule-btn edit">EDIT</button>
        <button class="rule-btn delete">DELETE</button>
    </div>
</div>
