.menu{
    position: sticky;
    top: 110px;
    margin: 0 auto;
    padding-top: 5px;
    width: 500px;
    z-index: 5;
    justify-content: center;
}

.menu-button{
    width: 250px;
    height: 50px;
    font-size: 22px;
    background-color: beige;
    border: olive 1px solid;
    border-radius: 6px;
    font-family: Quicksand;
}

.menu-button:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.menu-button-selected{
    background-color: rgb(186, 208, 147);
}
