.canvas{
    padding-top: 100px;
    height: 100%;
    /* width: 100%; */
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgb(247, 238, 220);
}

html{
    height: 100%;
    width: 100%;
}