<div class="card">
    <span class="alert-title">FILES ERROR ALERT <img src="assets/images/alert_card_icon.png" class="alert-icon"></span>
    <p>
        <span class="alert-properties">
            <span class="bold">Service: </span> File service
        </span> 

        <span class="alert-properties">
            <span class="bold">Severity: </span> <span class="critical">CRITICAL</span> 
        </span> 

        <span class="alert-properties">
            <span class="bold">Description: </span> More than 5 unprocessed files in one minute!
        </span>
    </p>
    <button class="acknowledge-button">ACKNOWLEDGE</button>
</div>