<button class="new-rule-button" (click)="open(content)">
    <span class="btn-text">Add New Rule</span>
    <img src="assets/images/add-icon.png" class="icon">
</button>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title title" id="modal-basic-title">New Rule</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form action="" (ngSubmit)="submitRule()">
            <div class="form-group">
                <label for="ruleName" class="label">Name:</label>
                <div class="input-group marginal">
                    <input name="ruleName" [(ngModel)]="ruleName" class="form-control label" placeholder="Enter name...">
                </div>
                <label for="service" class="label">Service:</label>
                <div class="input-group marginal">
                    <select name="service" (ngModelChange)="selectService($event)"  [(ngModel)]="selectedService" class="dropdown">
                        <option [value]="item.value" *ngFor="let item of services">{{item.name}}</option>
                    </select>
                </div>
                <label for="severity" class="label">Severity:</label>
                <div class="input-group marginal">
                    <select name="severity" (ngModelChange)="selectSeverity($event)"  [(ngModel)]="selectedSeverity" class="dropdown">
                        <option [value]="severity.value" *ngFor="let severity of severities">{{severity.name}}</option>
                    </select>
                </div>
                <label for="rule" class="label">Rule:</label>
                <div class="input-group marginal">
                    <select name="ruleType" (ngModelChange)="selectType($event)"  [(ngModel)]="selectedType" class="ruleType">
                        <option [value]="type.value" *ngFor="let type of types">{{type.name}}</option>
                    </select>
                    <span class='ruleText'>more than</span>
                    <input type="text" name="limit" [(ngModel)]="limit" class="ruleNumber">
                    <span class="ruleTextTwo">in</span>
                    <input type="text" name="timePeriod" [(ngModel)]="timePeriod" class="ruleNumberTwo">
                    <select name="timeUnit" (ngModelChange)="selectTimeUnit($event)"  [(ngModel)]="selectedUnit"  class="ruleMetrics">
                        <option [value]="unit.value" *ngFor="let unit of timeUnits">{{unit.name}}</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Create Rule</button>
    </div>
</ng-template>