.new-rule-button{
    margin: auto;
    margin-top: 25px;
    display: block;
    width: 250px;
    height: 50px;
    background-color:  rgb(192, 240, 224);
    font-size: 20px;
    font-family: Quicksand;
    border: 1px olive solid;
    border-radius: 15px;
    padding: 10px;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: relative;
}

.new-rule-button:hover{
   background-color: rgb(160, 228, 205);
}

.new-rule-button:active{
    transform: translateY(2.5px);
    border: 2px olive solid;
}

.icon{
    height: 28px;
    width: 28px;
    z-index: 1;
    display: block;
    position: absolute;
    right: 30px;
    top: 10px;
}

.btn-text{
    position: absolute;
    top: 10px;
    left: 50px;
    display: block;
}

.title{
    font-family: Cabin;
}

.marginal{
    margin-bottom: 8px;
}

.dropdown{
    width: 500px;
    height: 40px;
    padding: 5px;
    font-family: Quicksand;
}

.dropdown:focus{
    border: 1px solid darkkhaki;
    padding: 5px;
}

.ruleType{
    width: 140px;
    height: 40px;
    padding: 5px;
    font-family: Quicksand;
}

.ruleMetrics{
    display: inline-block;
    position: absolute;
    right: 5px;
    width: 100px;
    height: 40px;
    padding: 5px;
    font-family: Quicksand;
}

.ruleText{
    display: inline-block;
    justify-content: center;
    position: absolute;
    top: 6px;
    left: 150px;
    font-family: Quicksand;
    font-size: 18px;
}

.ruleTextTwo{
    display: inline-block;
    justify-content: center;
    position: absolute;
    top: 5px;
    left: 290px;
    font-family: Quicksand;
    font-size: 20px;
}

.ruleNumber{
    display: inline-block;
    position: absolute;
    top: 5.5px;
    left:245px;
    width: 40px;
    height: 30px;
}

.ruleNumberTwo{
    display: inline-block;
    position: absolute;
    top: 5.5px;
    left: 315px;
    width: 40px;
    height: 30px;
}

.close:hover{
    background-color: red;
}

.center{
    justify-content: center;
}

.label{
    font-family: Quicksand;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 1px;
}